nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }


#blockchain {display: block; margin: auto; width: 50%;}
#artificial {display: block; margin: auto; width: 70%;}
#lorem {display: block; margin: auto; width: 60%;
        background-color: orange; border-width: 15px;border-color: green;border-style: solid;}


table {width: 50%; text-align: left;
        border-collapse: collapse; margin: 0 0 1em 0;caption-side: top;}
         caption, td, th {padding: 0.3em;}
         th, td {border-bottom: 1px solid #000; border-right: 1px solid #000;}
         th.last, td.last {border-right: 0;}
         tfoot th, tfoot td {border-bottom: 0; text-align: center;}
         th {width: 0%;}

#div1 {background-color: green;}

caption {caption-side: bottom;}

#Codigo {background-color: #fff; width: fit-content;}

#pegajoso {position: sticky; top: 0;}

#formulario {display: block; position: relative;text-align: right; width: 100px; margin: 0px;}

iframe{ width: 500px; height: 500px;}

#izquierda {text-align: left; margin-top: -38%;}
#derecha {text-align: right;}

.textoizquierda {
    font-family: monospace;
    letter-spacing: .17em;
    margin: 0 auto;
    overflow: visible;
    white-space: nowrap;
    border-right: .17em solid pink;
    animation: typing 3.5s steps(30, end), blinking-cursor .5s step-end infinite;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
    to {
      width: 100%
    }
  }
  
  @keyframes blinking-cursor {
    from,
    to {
      border-color: transparent
    }
    50% {
      border-color: pink;
    }
  }

